*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  height: 100%;
  background: #16182c linear-gradient(#1c1f40, #16182c 40%) no-repeat 0 0;
  color: white;
  font-family: 'Helvetica', Arial, sans-serif;
}

.main-content {
  margin-top: 5%;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.paper {
  padding: 20px;
  background: #111321;
  border-radius: 5px;
}

.paper.placeholder {
  min-height: 200px;
}

.paper--callout {
  border: 1px solid hsl(235deg 38% 30%);
}

.mts {
  margin-top: .8rem;
}

.label--knockout {
  background-color: transparent;
  border: 1px solid #49e9b9;
  border-radius: 3px;
  color: #49e9b9;
}
